<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @fruit.name %>
</p>

<p>
  <strong>Color:</strong>
  <%= @fruit.color %>
</p>

<p>
  <strong>Facts:</strong>
  <%= @fruit.facts %>
</p>

<%= link_to 'Edit', edit_fruit_path(@fruit) %> |
<%= link_to 'Back', fruits_path %>
